.continer{
    width: 1400px;
    height: 1000px;
    border: 1px solid;
    margin: 0 auto;
    box-sizing: border-box;

    }

    .cardimgg{
        width: 130px;
    }
    .card{
        display: flex;
    }
    .incdec{
      margin-left: 70%;
    }
    .continer{
        width: 1400px;
        height: 1100px;
        border: 1px solid;
        margin: 0 auto;
        background-color: rgb(145, 255, 220);
    }
    .card{
        width: 100%;
        display: flex;
        background-color: aquamarine;
    }
    .cards{
        width: 50%;
    }
    
    .cardimgg{
        width: 140px;
    }
    
    .cardtitle{
        font-size: 30px;
    }
    .cardprice{
        font-size: 20px;
    }
    .cardremove{
        width: 100px;
    }
    .incdec{
        width: 50%;
        margin-left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .amount{
        font-size: 20px;
    }
    
    .navbar{
        width: 100%;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 500px;
        background-color: antiquewhite;
    }
    
    .clerbtn{
        width: 200px;
        height: 40px;
        border-radius: 15px;

    }
    
    .inc{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
        background-color: yellow;
    }
    .dec{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 15px;
        background-color: yellow;
    }
    .amount{
        font-size: x-large;
    }
    .amount2{
        font-size: x-large;
    }
    .login{
        text-align: center;
        width: 100%;
        height: 300px;
        margin-top: 20%;
        background-color: aqua;
    }
    .inpname{
        width: 350px;
        height: 40px;
        text-align: center;
    }
    .inpemail{
        width: 350px;
        height: 40px;
        text-align: center;
    }
  .btns{
    width: 100%;
    
  }
  .btn1{
    width: 120px;
    height: 30px;
    margin-right: 20px;
  }
  .btn2{
    width: 120px;
    height: 30px;
    margin-left: 20px;
  }
  .inppas{
    width: 350px;
    height: 40px;
    text-align: center;
  }

  .lognav{
    width: 100%;
    height: 150px;
    background-color: rgb(244, 193, 135);
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .btnlog{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
  }
  .welcome{
    font-size: 50px;
    text-align: center;
  }
  .salom{
    text-align: center;
  }
    